:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(30, 37, 34, 0.87);
  background-color: #f0f4ef;
}

.container {
  padding: 10px;
  display:flex;
  justify-content: space-around;
}

.text {
  padding: 1rem;
  width: 500px;
  color: #e0ffe9;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:italic;
  font-weight: bold;
  border-radius: 2rem;
}

.text:hover {
  color: #1a1a1a;
  box-shadow: 3px 5px 3px 1px #b3b4b38a;
}

.text h4 {
  text-shadow: 1px 1px 1px rgb(0, 9, 2);
  .text h4 {
    text-shadow: 2px 12px 1px rgb(0, 9, 2);
  }
}

.text p {
  text-shadow: 1px 1px 1px rgb(0, 9, 2);
}

.nav {
  padding: 10px;
  margin: 0;
}

.nav-bar {
  background-color: #045022;
  color: #202221;
  padding-block: 0;
  padding-inline: 0.5rem;
  border: 1px solid white;
  display: flex;
  justify-content: start;
  align-items:center;
}

.logo-container {
  display: inline;
}

.logo {
  font-style: italic;
  text-decoration: underline;
}

.nav-seller ul {
  display: inline
}

.nav-seller ul li {
  display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #433f3f;
    text-align:center;
    color:#fff;
  list-style: none;
}

.nav-seller ul button {
  margin-left: 15%;
}

.nav-link {
  text-decoration: none;
}

.buttons {
  display: inline;
  margin-left: 55%;
}

button {
  margin-right: 20px;
}

h2 {
  display: inline;
  color: #12251c;
  font-style: italic;
  text-decoration: underline;
}

.form {
  text-align: center;
  width:300px;
	padding:1.5rem;
  border: 1px solid rgb(82, 79, 79);
	border-radius:10px;
	margin:auto;
  box-shadow: 2px 2px 2px 2px #b3b4b38a;
}

.form input {
  width:15rem;
  padding: .5rem;
  height: 1rem;
	border:1px solid #082905;
	border-radius:0.3rem;
	background-color:#ffffff;
	margin:8px 0;
	display:inline-block;
  color: #000;
}

.form button {
  margin-top: 18px;
  text-align: center;
  margin-left: 1.2rem;
  width: 16.3rem;
  height: 2.5rem;
	border:1px solid #000;
	border-radius:.3rem;
	display:inline-block;
	color:#fff;
	background-color:#03160a;
}

.form a {
  color: #0c5135;
}
.form a:hover {
  color: #305638;
  font-style: italic;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #031c09;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2efb8a;
  box-shadow: 1px 2px 2px 1px #17f1799c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.user-card {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.drop-content {
  display: none;
  position: absolute;
  width: 7rem;
  overflow: auto;
  background-color: #bee4b1;
  box-shadow: 0px 8px 16px 0px rgba(4, 4, 4, 0.442);
}

.dropdown:hover .drop-content {
  display: block;
}

.drop-content .nav-link {
  display: block;
  color: #0a4d1c;
  padding: 5px;
  text-decoration: none;
}

.drop-content .nav-link:hover {
  color: #edf7f2;
  background-color: #045022;
}

.btn-des {
  border-radius: 0.2rem;
  border: 1px solid white;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.products-container {
  padding: 0;
  width: 40%;
}

.products-container p {
  border: 1px solid white;
  display: inline;
  padding-inline: 2%;
  width: 25%;
}

.products-card {
  background-color: #1a1a1a;
  padding: 0.5rem;
  height: 12rem;
}

table {
  border-collapse: collapse;
}

tr {
  cursor: pointer;
}

td {
  border: 1px solid white;
  padding-inline: 1rem
}

.sale-card {
  display: flex;
  background-color: #050b08;
  color: #143b18;
  padding: 0.2rem;
}

.sale-card td {
  border: 1px solid rgb(4, 57, 6);
  background-color: white;
  padding-inline: 1rem;
}

.products-ctn {
  height: 12rem;
  width: 34rem;
  border: 10x solod white;
  background-color: white;
  padding: 1rem;
}

.sale-card .amount-row {
  padding: 0.5rem;
  background-color:#050b08;
}

.amount-row {
  margin-top: 0.3rem;
}

.amount-row h4 {
  margin: 0.1rem;
}

.amount-row h4 span {
  padding-inline: 1rem;
  border: 1px solid rgb(94, 254, 148);
  font-weight: 380;
  background-color: white;
}

.btn-container {
  border: 1px solid white;
  padding-top: 10rem;
}
